<!-- Modal -->
<div class="modal fade" id="delete-supplier" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title" id="exampleModalLabel">Warning</h3>
			</div>
			<div class="modal-body">
				<input type="hidden" id="delete-id">
				Are you sure want to delete this?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" id="btn-delete" class="btn btn-primary" data-dismiss="modal">Delete</button>
			</div>
		</div>
	</div>
</div>